* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
}

.logo {
  display: block;
  padding: 10px 0;
  width: 40px;
  height: 40px;
}

.nav--bar {
  display: block;
}

.nav--list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;

}

.nav--item:not(:first-child) {
  padding-left: 20px;
}

.nav--link {
  position: relative;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  height: 60px;
  padding: 22px 0;
}

.nav--link:hover,
.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  background-color: #00acdc;
  position: absolute;
  width: 37px;
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
}
