/* Styles go here */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.logo_image {
  width: 100%;
  height: 100%;
}

.nav_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_item {
  margin-left: 20px;
}

.nav_item:first-child {
  margin-left: 0;
}

.nav_link {
  position: relative;
  display: flex;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  align-items: center;
  font-style: normal;
  line-height: 14px;
}

.nav_link:hover {
  color: #00acdc;
}

.nav_link.is-active {
  color: #00acdc;
}

.nav_link.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #00acdc;
}
