/* Styles go here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 1px 1px rgb(243, 240, 240);
}

.logo {
  margin-left: 50px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-right: 50px;
}

.nav__item {
  position: relative;
  display: flex;
  align-self: stretch;
  list-style: none;
  margin-right: 20px;
  color: black;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.nav__item:hover {
  color: rgba(0, 172, 220, 1);
}

.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  text-transform: uppercase;
}

.is-active::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 56px;
  height: 4px;
  width: 100%;
  background-color: aqua;
}
