@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main-nav {
  display: flex;
  margin-left: 50px;
}

.main-nav-list {
  display: flex;
  list-style: none;
}

.logo {
  margin-right: 50px;
  display: flex;
  align-self: center;
  padding-top: 10px;
}

.list-item {
  display: flex;
  padding: 0 10px;
}

.links {
  display: flex;
  align-self: flex-end;
  line-height: 14.06px;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.links:hover {
  color: #00acdc;
}

.links.is-active::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: -18.5px;
  right: 0;
  left: 0;
  color: black;
  background-color: #00acdc;
}
