html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

.page {
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.05);
}

.page_header {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 50px;
  background: #fff;

}

.logo {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #00acdc;
}

.nav__link:hover {
  color: #00acdc;
}
