/* Styles go here */
body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-family: "Roboto", sans-serif ;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.link__logo {
  height: 40px;
}

.logo {
  height: 40px;
}

.nav__link:hover,
.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: #00acdc;
}
