/* general styles */
:root {
  --main-color: #00acdc;
}

* {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
}

/* logo styles */
.logo__link {
  display: block;
}

/* navigation styles */
.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  height: 60px;
  font-weight: 500;
}

.is-active {
  color: var(--main-color);
}

.nav__link:hover {
  color: var(--main-color);
}

.is-active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 8px;
  background-color: var(--main-color);
}
