html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  align-self: center;
  height: 40px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin-right: 10px;
}

.nav__item {
  margin-right: 20px;
  position: relative;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  line-height: 60px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.is-active,
.nav__link:hover {
  color: #00acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 37px;
  border-radius: 8px;
  background-color: #00acdc;
}
