/* Styles go here */
body {
  margin: 0;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.container {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.nav__link {
  list-style: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.nav__item {
  margin-left: 20px;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.nav__item:hover {
  color: #00acdc;
  cursor: pointer;
}

.is-active {
  margin-left: 20px;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  color: #00acdc;
}

.is-active:hover {
  color: #00acdc;
  cursor: pointer;
}

.is-active::after {
  content: "";
  display: block;
  background-color: #00acdc;
  width: 37px;
  height: 4px;
  margin-top: 22.5px;
}
