/* Styles go here */
:root {
  --primary-black: #000;
  --secondary-light-blue: #00acdc;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;

}

li {
  list-style: none;
}

.header {
  height: 60px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}

.logo__image {
  height: 100%;
  width: 100%;
}

.nav__list {
  display: flex;
  padding: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
  color: var(--primary-black);
}

.nav__link:hover {
  color: var(--secondary-light-blue);
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #00acdc;
}
