@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,700;1,400;1,700&family=Roboto:wght@500&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: blue;
}

.header {
  width: 1024px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ul__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
}

.nav__link {
  display: inline-block;
  padding: 22.5px 0;
  margin: 0 20px 0 0; /* tried to use margins only in right, Ihor suggested */
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  padding: 22.5px 0 18px;
}

.is-active::after {
  position: relative;
  top: 18.5px;
  content: "";
  height: 4px;
  display: block;
  background: #00acdc ;
  border-radius: 8px;
}

.logo {
  content: url(images/logo.png);
  position: absolute;
  top: 18px;
  left: 58px;
}

@media(min-width: 1200px) {
  .header {
    width: 1200px;
  }
}
